<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="name.matan.sensation"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TosActivity"
            android:label="@string/tos_activity_title" >
        </activity>
        <activity
            android:name=".SensorManagementActivity"
            android:label="@string/title_activity_sensor_management" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="name.matan.sensation.MainActivity" />
        </activity>
        <activity
            android:name=".CellLocationSensorActivity"
            android:label="@string/title_activity_location_sensor_page" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="name.matan.sensation.SensorManagementActivity" />
        </activity>
        <activity
            android:name=".CellularLocationLogActivity"
            android:label="@string/title_activity_cellular_location_log" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Enable Google Maps -->
        <uses-library android:name="com.google.android.maps" />
        // Declare the logging as a service

        <service android:name="LocalService" 
            android:icon="@drawable/stat_sample"
            android:label="@string/local_service_name">
        </service>
    </application>

</manifest>